* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.main {
  display: flex;
  margin-top: 8vh;
  height: fit-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  width: 100%;
}
.main-details {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.icon {
  height: 2rem;
  cursor: pointer;
  color: black;
}
p {
  font-size: 1.2rem;
}
.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}
.footer{
  display: flex;
  justify-content: space-evenly;
}
.nav{
  /* margin: 10px 10px; */
  font-size: 28px;
}
.btn:hover {
  background-color: rgb(53, 53, 53);
  color: #fff;
}
@media screen and (max-width:768px) {
  .container{
    width: 100%;
    height: fit-content;
    margin-left: 0px;
  }
  .footer{
    margin: 0 10px;
    padding: 0 10px;
  }
  .nav{
    font-size: 20px;
    margin-bottom: 10px;
    padding: 10px;
  }
}